@media (min-width: 768px) {
    .modal-dialog {
        max-width: 480px;
    }
}

.modal-header {
    background-color: #163758;
    color: white;
    text-align: center;
    padding: 0 0.5em 0.5em 0.5em !important;
}

.modal-title {
    font-size: 2em;
}

.modal-body {
    font-size: 1.5em;
}

.modal-content {
    border: 7px solid #3c8dbc !important;
}

.modal-footer .btn {
    width: 100px;
}

.close {
    position: absolute !important;
    top: -7px !important;
    right: -7px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 3em !important;
    color: white !important;
    opacity: 1 !important;
}

.close span {
    display: block !important;
    background-color: #3c8dbc !important;
    width: 25px !important;
    height: 25px !important;
    line-height: 22px !important;
    text-align: center !important;
    position: relative !important;
    margin: 0 auto !important;
}

.center {
    text-align: center !important;
}

.red {
    color: red;
}

.dataTables_wrapper .dataTables_filter label {
    font-weight: normal;
}

.dataTables_wrapper .dataTables_length label {
    font-weight: normal;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
}

.dataTables_filter {
    text-align: right;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: right;
}

.table-adminpanel {
    font-size: 1.2em;
}

.input-with-button-td {
    width: 270px;
    padding-right: 5px;
}

.input-with-button-div {
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.input-near-button {
    width: 180px !important;
    margin-right: 5px;
}

.button-near-input {
    width: 85px;
}

.number-in-admin-table {
    text-align: center;
    font-weight: bold;
}

.box {
    border-bottom: 3px solid #d2d6de;
}

@media (min-width: 992px) {
    .under-breadcrumbs {
        margin-bottom: 15px;
    }
}
